/* -------------- font google --------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ------------ all animation ---------- */
@keyframes bounceTop-1 {

  0%,
  100% {
      transform: translateY(-30px);
  }
  50% {
      transform: translateY(0px);
  }
}

@keyframes animation-1 {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes spinner-linspin {
  to {
      transform: rotate(360deg);
  }
}

@keyframes spinner-easespin {
  12.5% {
      transform: rotate(135deg);
  }

  25% {
      transform: rotate(270deg);
  }

  37.5% {
      transform: rotate(405deg);
  }

  50% {
      transform: rotate(540deg);
  }

  62.5% {
      transform: rotate(675deg);
  }

  75% {
      transform: rotate(810deg);
  }

  78.5% {
      transform: rotate(945deg);
  }

  to {
      transform: rotate(1080);
  }
}

@keyframes spinner-left-spin {
  0% {
      transform: rotate(130deg);
  }

  50% {
      transform: rotate(-5deg);
  }

  to {
      transform: rotate(130deg);
  }
}

@keyframes spinner-right-spin {
  0% {
      transform: rotate(-130deg);
  }

  50% {
      transform: rotate(5deg);
  }

  to {
      transform: rotate(-130deg);
  }
}
/* End Animation */

/* Modify color default boostrap */
.bg-primary {
  background-color: #6777ef !important; }

.bg-secondary {
  background-color: #cdd3d8 !important; }

.bg-success {
  background-color: #47c363 !important; }

.bg-info {
  background-color: #3abaf4 !important; }

.bg-warning {
  background-color: #ffa426 !important; }

.bg-danger {
  background-color: #fc544b !important; }

.bg-light {
  background-color: #e3eaef !important; }

.bg-dark {
  background-color: #191d21 !important; }

.text-primary, .text-primary-all *, .text-primary-all *:before, .text-primary-all *:after {
  color: #6777ef !important; }

.text-secondary, .text-secondary-all *, .text-secondary-all *:before, .text-secondary-all *:after {
  color: #cdd3d8 !important; }

.text-success, .text-success-all *, .text-success-all *:before, .text-success-all *:after {
  color: #47c363 !important; }

.text-info, .text-info-all *, .text-info-all *:before, .text-info-all *:after {
  color: #3abaf4 !important; }

.text-warning, .text-warning-all *, .text-warning-all *:before, .text-warning-all *:after {
  color: #ffa426 !important; }

.text-danger, .text-danger-all *, .text-danger-all *:before, .text-danger-all *:after {
  color: #fc544b !important; }

.text-light, .text-light-all *, .text-light-all *:before, .text-light-all *:after {
  color: #e3eaef !important; }

.text-dark, .text-dark-all *, .text-dark-all *:before, .text-dark-all *:after {
  color: #191d21 !important; }

/* Button Primary Boostrap Modified*/
.btn-primary, .btn-primary.disabled {
  box-shadow: 0 2px 6px #acb5f6;
  background-color: #6777ef;
  border-color: #6777ef; }
.btn-primary:focus, .btn-primary.disabled:focus {
  background-color: #394eea !important; }
.btn-primary:focus:active, .btn-primary.disabled:focus:active {
  background-color: #394eea !important; }
.btn-primary:active, .btn-primary:hover, .btn-primary.disabled:active, .btn-primary.disabled:hover {
  background-color: #394eea !important; }

.btn-outline-primary, .btn-outline-primary.disabled {
  border-color: #6777ef;
  color: #6777ef; }
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.disabled:hover, .btn-outline-primary.disabled:focus, .btn-outline-primary.disabled:active {
  background-color: #6777ef !important;
  color: #fff; }

/* ------------ other button css ---------- */
.main-btn {
  display: inline-block;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 55px;
  border: 2px solid #6777ef;
  border-radius: 5px;
  background-color: #6777ef;
  color: #fff;
}

.main-btn:hover {
  background-color: rgba(8, 152, 231, .7);
  color: #fff;
  border-color: transparent;
}
/* End Button */

/* ================ NAVBAR=============== */
/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 3rem 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: .938rem;
    background-color: #f4f6f9;
    color: #0D1730;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  /* ul {
    margin: 0;
    padding: 0;
    list-style: none;
  } */
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /*===== CLASS CSS ===== */
  .section-title {
    position: relative;
    font-size: 2rem;
    color: #6777ef;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: #6777ef;
  }
  
  .section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  /*===== LAYOUT =====*/
  .bd-grid {
    max-width: 1250px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: cal(100% - 2rem);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  
  /*===== NAV =====*/
  .nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
  }
  
  @media screen and (max-width: 768px) {
    .nav__menu {
      position: fixed;
      top: 3rem;
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: #0D1730;
      transition: .5s;
    }
  }
  
  .nav__item {
    margin-bottom: 2rem;
  }
  
  .nav__link {
    position: relative;
    color: #fff;
  }
  
  .nav__link:hover {
    position: relative;
  }
  
  .nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #6777ef;
  }
  
  .nav__logo {
    color: #0D1730;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }
  
  .nav__toggle {
    color: #0D1730;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .nav__item .active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #6777ef;
  }
  
  /*=== Show menu ===*/
  .show {
    right: 0;
  }
  
  /*=== Media queries ===*/
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .nav {
      height: calc(3rem + 1.5rem);
    }
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: 3rem;
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: #0D1730;
    }
  }
  
  @media screen and (min-width: 992px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
  }
/*===== End Nav =====*/

/* Header */
.header-hero {
  position: relative;
  top: 0;
  height: 800px;
  background-position: bottom center;
}

.header-hero .shape {
  position: absolute;
}

.header-hero .shape.shape-1 {
  position: relative;
  width: 75px;
  height: 75px;
  left: 130px;
  top: 20%;
  border-radius: 50%;
  background: #637ae4;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-2 {
  width: 39px;
  height: 39px;
  left: 150px;
  bottom: 40px;
  border-radius: 50%;
  background: #0898e7;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-3 {
  width: 19px;
  height: 19px;
  left: 26px;
  bottom: 25%;
  border-radius: 50%;
  background: #ff846f;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-4 {
  width: 39px;
  height: 39px;
  left: 40%;
  top: 175px;
  border-radius: 50%;
  background: #4ebaf5;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-5 {
  width: 19px;
  height: 19px;
  left: 50%;
  bottom: 20%;
  border-radius: 50%;
  background: #ff5b56;
  animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-6 {
  width: 14px;
  height: 14px;
  left: 45%;
  bottom: 70%;
  border-radius: 50%;
  background: #4ebaf5;
  animation: animation-1 2s linear infinite;
}

.header-hero-content {
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .header-hero-content {
        margin-top: 30%;
    }
}

.header-hero-content .header-title {
  font-size: 42px;
  color: #38424d;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.header-hero-content .header-title span {
  color: #fc544b;
}

.header-hero-content .text {
  margin-top: 30px;
  text-align: justify;
}

.header-hero-content ul {
  margin-top: 30px;
}

.header-image {
  position: relative;
  padding-top: 80px;
  animation: bounceTop-1 3s ease infinite;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .header-image img {
      height: 0;
  }
}

.header-shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(../img/header/header-shape-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header-shape-2 {
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  z-index: -1;
}

.vbox-close {
  color: #fff;
  background: transparent;
  font-size: 40px;
  right: 12%;
}
/* End Header */
  
/* footer */
footer ul li a:hover {
  color: #6777ef;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }